*{
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-decoration: none;
}
body{
    background-color: antiquewhite;
    background-position: 0%;
    height: 100vh;
    padding: 0.2rem;
}
.header{
    border: 1px solid rgb(220, 129, 10);
    border-radius: 3px;
    align-items:inherit;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
    color: black;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: none;
    gap: 1rem;
}
@media screen and (min-width:760px) {
    .navbar{
        display: flex;
    }
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    transform:scale(0.2) 0.1s;
}
.nav-link:hover{
    color: rgb(243, 188, 116);
}
.search{
    display: none;
    border-radius: 0.2rem;
    max-width: 100px;
    background: local;
}
@media screen and (min-width:760px) {
    .search{
        display: block;
    }
}
.search:hover{
    background-color: rgb(232, 192, 142);
    border: black;
    background-origin: padding-box;
    border-radius: 0.375rem;
    transform: all 0.1s;
    padding: 0.3rem  0.2rem;
}
.menu{
    display: none;
}
@media screen and (max-width:760px) {
    .menu{
        display: flex;
    }
}
